* {
	appearance: none;
	-moz-appearance: none;
	background: transparent;
	border: none;
	box-sizing: border-box;
	color: black;
	font-family: 'Roboto', sans-serif;
	font-size: 1em;
	font-weight: normal;
	list-style: none;
	margin: 0px;
	padding: 0px;
	text-decoration: none;
}

html {
	text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
	text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
}