* {
	font-family: 'Roboto';

}

body {
	min-width: 320px;
}

.container-fixed {
	max-width: 960px;
	margin: 0 auto;
}

.logo {
	font-weight: bold;
	color: white;
	font-size: 1.2em;
	width: 50px;
}

main {

	background-color: red;
	padding: 30px 0px;

	> .container-fixed {
		background-color: red;
		min-height: calc(100vh - 80px);
	}
}

.navbar-fix {
	border-top: 80px solid transparent;
}

.card__content {
	h1 {
		margin-bottom: 30px;
	}
}

.izi-navbar {

	&__main {
		font-weight: bold;
	}
}

.fa-cart-plus {
	font-size: 2em;
	margin-left: 5px;
	vertical-align: middle;
}

.add-to-cart-btn {
	display: flex;
	align-items: center;
	float: right;

	&:focus {
		outline: none;
		border: none;
	}

	&::-moz-focus-inner {
		border: 0;
	}
}

.shop-item {

	width: 270px;

	header {
		height: 170px;
		overflow: hidden;
		border-bottom: 1px solid rgba(0,0,0,0.1);

		img {
			margin-top: -50px;
		}
	}

	footer {

		&:after {
			content: '';
			clear: both;
			display: block;
		}
	}
}

@media screen and (max-width: 720px) {
	.izi-navbar {

		&__main {
			background: linear-gradient(#ff7400 30%, red);
		}
	}
}
